<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="icon" href="/public/logo2.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/public/variables.css">
    <link rel="stylesheet" href="/public/style.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>About us | lycee de nyanza</title>
</head>

<body>
    <div class="navbar">
        <div class="container flex">
            <h1 class="logo">lycee de nyanza</h1>
            
            <nav class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/academics">Academics</a></li>
                    <li><a href="/contact">Contact us</a></li>
                </ul>
            </nav>
            <div class="menubtn"><i class="fas fa-bars"></i></div>
        </div>
    </div>
    <section class="cloud background py-5">
        <h2 class="flex md">
            lycee de nyanza
            <br />
            <hr />
        </h2>

        <div class="container grid">
            <img src="public/images/dm1.png" alt="" />
            <div class="block">
                <p class="lead my-1">
                    Lycee de Nyanza, established in 2005 in Rwanda's Southern Province, <br>
                    is a dynamic primary educational institution committed to providing <br>
                     top-notch education. We aim to help students serve, lead, and reach <br>
                     their full potential, preparing them to succeed in the modern world.<br />
                    <a href="academics" class="btn my-1">join  us</a>
                </p>
            </div>
        </div>

        <div class="flex">
            <h2 class="md">
                Our History
                <br />
                <hr />
            </h2>
        </div>
        <div class="block container">
            <p class="lead my-1"> 
                Lycee de Nyanza, nestled in the Southern Province of Rwanda, 
                stands as a beacon of educational excellence since its establishment
                 in 2005 with just two classes and 70 students. From these humble beginnings,
                  it has grown into a bastion of academic prowess and cultural enrichment in the region. 
                  Evolving into a vibrant academic community, it fosters intellectual curiosity and innovation, 
                  emphasizing holistic education to nurture the talents and aspirations of its diverse student body. 
                  Through a comprehensive curriculum and dedicated faculty, Lycee de Nyanza inspires generations
                   of learners to strive for excellence and make positive contributions to their communities and beyond.
                <br />
                <a href="academics" class="btn my-1">Join us</a>
            </p>
        </div>
        <div class="container grid">
            <div class="block">
                <h2 class="md">Our Mission & Vision</h2>
                <div class="mission">
                    <h3>Our Mission</h3>
                    <p>
                        Our vision at Lycee de Nyanza is to be a leading institution
                        in vocational and technical education, fostering innovation, excellence, 
                        and leadership to shape a better future for our students and community.</p>   </p>
                </div>
                <div class="vision">
                    <h3>Our vision</h3>
                    <p>
                        Lycee de Nyanza's mission is to empower students through high-quality
                        TVET education in fields like software development, automobile, 
                        and culinary arts, cultivating skilled, innovative leaders for the modern world.</p>
                    </p>
                </div>
            </div>

            <div class="block text-center">
                <h2 class="md">Our Core Values

                </h2>
                <ul class="lead text-primary ">
                    <li>Excellence</li> 
                    <li>Innovation</li>
                    <li>Integrity</li>
                    <li>Sharing</li>
                    <li>Friendship</li>
                    <li>Cooperation</li>
                    <li>Responsibility</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer py-5">
        <div class="container grid grid-3">
            <div>
                <h1>lycee de nyanza |</h1>
                <p>Copyright &copy; 2024</p>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/academics">Academics</a></li>
                    <li><a href="/contact">Contact us</a></li>
                </ul>
            </nav>
            <div class="social">
                <a href="https://www.youtube.com/watch?v=1eNH83EPICM&pp=ygUPbHljZWUgZGUgbnlhbnph" target="_blank"><i class="fab fa-youtube fa-2x"></i
                    ></a>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js "></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/public/index.js"></script>
</body>

</html>