<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="icon" href="/public/logo2.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/public/variables.css">
    <link rel="stylesheet" href="/public/style.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Welcome | lycee de nyanza</title>
</head>

<body>

    <!-- Navbar -->
    <div class="navbar">
        <div class="container flex">
            
            <h1 class="logo">lycee de nyanza</h1>
            
            <nav class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/academics">Academics</a></li>
                    <li><a href="/contact">Contact us</a></li>
                </ul>
            </nav>
            <div class="menubtn"><i class="fas fa-bars"></i></div>
        </div>
    </div>

    <!-- Showcase -->
    <section class="showcase">
        <div class="bg">
            <div class="bg-image"></div>
        </div>

        <div class="space"></div>
        <div class="container grid">
            <div class="motto"><div style=" background-image: url('logo2.png')" ></div> 
            <a href="/"><img src="/public/logo2.png" alt="Lycee de Nyanza Logo" class="logo" style="height: 50px;"/></a>
            
                <h4>practice makes better</h4>
            </div>
            <div class="vertical"></div>
            <div class="showcase-text">
                <h1>Learn with us</h1>
                <p>
                    Welcome to lycee de nyanza
                </p>
                <a href="/academics" class="btn btn-outline">join us</a>
            </div>


        </div>
    </section>

    <!-- Stats -->
    <section class="stats">
        <div class="container">
            <h3 class="stats-heading text-center my-1">

                <q>Lycee de Nyanza: Empowering Future Leaders with Excellence in TVET Education <br>
                    - Software Development, Automobile, Building Construction, Tourism, Culinary Arts, and More. </q>
                <br />


            </h3>

            <h4 class="text-center my-1" ><img class="glance" src="public/images/glance.png"></h4>
            

            <div class="grid grid-3 text-center my-4">
            </div>

        </div>
    </section>
    <section class="carousel">
        <div class="carousel2 owl-carousel ">
            <div class="cards ">
                <div class=" box ">
                    <div class="bc"> <img src="public/images/dm1.png" alt=" " />
                    </div>

                    <div class="text ">
                        <h2>Our Motto
                            <hr>
                        </h2>
                        <p>Lycee de Nyanza: Empowering Future Leaders with Excellence in TVET Education <BR>
                            - Software Development, Automobile, Building Construction, Tourism, Culinary Arts, and More.</p>
                    </div>


                </div>
            </div>
            <div class=" cards ">
                <div class="box ">
                    <div class="bc"> <img src="public/images/dm2.png" alt=" " />
                    </div>

                    <div class="text ">
                        <h2>Our Mission
                            <hr>
                        </h2>

                        <p>                                                             <br>
                            Lycee de Nyanza's mission is to empower students through high-quality
                             TVET education in fields like software development, automobile, 
                             and culinary arts, cultivating skilled, innovative leaders for the modern world.</p>
                    </div>

                </div>
            </div>
            <div class="  cards ">
                <div class="box ">
                    <div class="bc"> <img src="public/images/dm3.png" alt=" " />
                    </div>
                    <div class="text ">
                        <h2>Our Vision
                            <hr>
                        </h2>

                        <p><br><br>                                                           <br>
                            Our vision at Lycee de Nyanza is to be a leading institution
                             in vocational and technical education, fostering innovation, excellence, 
                             and leadership to shape a better future for our students and community.</p>
                    </div>

                </div>
            </div></div>
           
        </div>
    </section>

    <section class="cloud background">
        <h2 class="flex md">lycee de nyanza
            <br>
            <hr>
        </h2>

        <div class="container grid">

            <img src="public/images/flyer.png" alt="">
            <div class="block">
                <p class="lead my-1 ">
                    We are a dynamic and progressive primary educational institution that aims to provide the best possible education to the pupils God has placed under our care. Our objective is to provide pupils with the opportunity to serve, to lead, and to fulfill their
                    potential in all areas of life so that they can take their place and succeed in the modern world
                    <br />
                    <a href="/academics" class="btn my-1">join us</a>
                </p>
            </div>

            <!-- <img src="https://images.pexels.com/photos/5329056/pexels-photo-5329056.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""> -->

        </div>

    </section>
    <!-- Footer --><div class="w3-container w3-indigo">
    <footer class="footer py-4">
        <div class="container grid grid-3">
            <div>
                <h1>lycee de nyanza|</h1>
                <p>Copyright &copy; 2024</p>
            </div>
            <nav>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/academics">Academics</a></li>
                    <li><a href="/contact">Contact us</a></li>
                </ul>
            </nav>
            <div class="social">
                <a href="https://www.youtube.com/watch?v=1eNH83EPICM&pp=ygUPbHljZWUgZGUgbnlhbnph" target="_blank"><i class="fab fa-youtube fa-2x"></i
                    ></a>
            </div>
        </div>
    </footer> </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js "></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/public/index.js"></script>
</body>

</html>